.container_profile{
    /* background-image: url('../assets/backgroundBlackAndPink.png'); */
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    width: 100%;
    height: 650px;
  
}
.container_img_circle{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    height: 82vh;
}

.imgDiana{
  width: 20vw;
}
/* container_side_photo */
.container_side_photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.helloWorld{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}
.typewriter h1 {
    font-size: 38px;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  /* ----------------- */
  .p_developer{
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin: 4px;
  } 
  .download-cv{
    padding: 10px 20px;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    border-radius: 10px;    
    color: #fff;
    text-decoration: none;
}


@media (max-width: 950px) {
    .container_profile{
        width: 100%;
       /*  height: 650px; */
       height: 20%;
    }
    .container_img_circle{
      display: flex;
      flex-direction: column;
      padding: 40px;
      justify-content: center;
      align-items: center;
    }
    .imgDiana{
        width: 12rem;
    }
    .typewriter h1 {
      padding-bottom: 20px;
      padding-left: 10px;
        font-size: 24px;
        color: #fff;
        font-family: monospace;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid orange; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em; /* Adjust as needed */
        animation: 
          typing 3.5s steps(30, end),
          blink-caret .5s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
      }
      .container_side_photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }
      .p_developer{
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: 700;
        color: white;
        margin: 4px;
        text-align: center;
      } 
      .box_button-cv{
        display:flex;
        justify-content: center;
      }
}